@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");


.navbar {
  width: 100%;
  background-color: rgb(0, 0, 0);
  justify-content: left;
}


/* Navbar links */

.navbar a {
  float: left;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 15px;
}


.black {
  background-color: #000;
}

.nav-link {
  margin-right: 1rem;
}

.nav-link__text {
  color: white !important;
  font-weight: 800;
  font-size: 15px;
}

.navbar-nav > a:hover,
.active {
  color: gold !important;
}

.fa {
  padding-right: 5px !important;
  color: gold !important;
}

.login-col {
  color: rgb(50, 187, 233);
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}